@page "/testresults"
@using System.Collections.Generic
@rendermode InteractiveServer

<h1>Test results</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 overflow-auto" style="height: 100vh; border-right: 2px solid #dee2e6;">
            @foreach (var test in allTests)
            {
                        <div class="card mb-3" style="width: 18rem;" @onclick="() => SelectTest(test)">
                        <div class="card-body">
                                <h5 class="card-title">@test.recipe.testId</h5>
                                    <h4 class="card-title">@test.name</h4>
                               
                        </div>
                    </div>
            }
        </div>

        <div class="col-md-6">
            @if (SelectedTest.HasValue)
            {
                    <div>
                        <h3>@SelectedTest.Value.name : @testName</h3>
                        <p>Distance: @SelectedTest.Value.distance</p>
                        <p>Real Distance: @SelectedTest.Value.realDistance</p>
                        <p>Format: @SelectedTest.Value.format</p>
                        <p>Algorithm: @SelectedTest.Value.recipe.alg</p>
                        <p>ID: @SelectedTest.Value.recipe.testId</p>
                        <p>Degree @SelectedTest.Value.recipe.catchPolynomDeg</p>
                    </div>
            }
        </div>
    </div>
</div>

